#login-box {
    border: 1px solid #ebebeb;
    background: white;
    padding: 20px;
    width: 270px;
}

#qrcode {
    position: relative;
    width: 270px;
    height: 270px;

}

#qrcode-image, #qrcode-refresh {
    position:absolute;
    left:0;
    top:0;
}

#qrcode-refresh {
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    padding: 111px 0;
    background-color: rgba(48, 184, 70, 0.9);
    background-repeat: no-repeat;
    background-position: center center;
    background-image: -webkit-image-set(url(../img/qrcode_refresh.png) 1x);
}

#qrcode-refresh span {
    display: block;
}

.bottom-status {
    padding: 10px 0 0 0;
    font-size: 14px;
    text-align: center;
}

.bottom-status .status-default {
    color:#999;
}

.bottom-status .status-scanned {
    color: #fff;
    background: #62b84b;
    height: 30px;
    padding: 0 15px;
    vertical-align: top;
    line-height: 30px;
    border-radius: 15px;
    display: inline-block;
}